<header>
       <h1>Doc</h1>
    <nav>
        <ul>
           <li><a href="https://chloethiebaut.github.io/Flatfile">Accueil</a></li>
           <li><a href="https://chloethiebaut.github.io/Flatfile/about">Cours</a></li>
           <li><a href="https://chloethiebaut.github.io/Flatfile/equipe">Equipe</a></li>
           <li><a href="https://chloethiebaut.github.io/Flatfile/blog">Blog</a></li>
          <!-- <li><a href="https://chloethiebaut.github.io/Flatfile/boutique">Boutique</a></li> -->
        </ul>
    </nav>
</header>
