---
layout: default
---
body{margin: 0; padding: 0;}

wrapper{
    marin: 0 auto;
    max-width: 45rem; 
}

a{
    text-decoration: none;
}

h1{
    color:#0B6464;
    font-family: oswald;
    text-align: center;
    margin: 0;
    padding: 1%;
}

nav ul{
    list-style: none;
    display: inline-block;
}
nav, nav ul li{
    display: inline-block; 
    padding: 1%;
}

a:hover, a:active, a:visited, a:link{
    color: black;
}
header{
        background-image: url("../img/image.jpg");
        background-size: cover;
    margin: 0;
    padding: 0;
}